:root{
   --pink: #EB6383;
   --ligth-pink:#FA9191;
   --yellow: #FFE9C5;
   --blue:#B4F2E1;
   --girls:'Crafty Girls', cursive;
   --frederica:'Fredericka the Great', cursive;
   --pomodoro:#FA9190;
   --shortBreak: #A084CF;
   --longBreak: #FF85B3;
}

body{
   background-color: var(--pink);
   box-sizing: border-box;
}

.nav{
   width: 70%;
   margin: 0 auto;
   margin-top: 2rem;
   height:30rem;

}

.navigation{
   display: flex;
   justify-content: space-around;
}

.navigation{
   justify-content: space-between;
   font-size: 1.5rem;
   font-family: var(--girls);
   font-weight: bold;
   color:var(--pink);
   padding: 5px;
}

.menu{
   
   width: 33%;
   text-align: center;
   border-radius: 10px;
   background: #ffb4b4;
   border: 2px dotted var(--blue);
   margin: 5px;
   cursor:pointer;
}

.menu.ative{
   border-color:var(--yellow) ;
}

.menu:hover{
   background-color: var(--blue);
}


.time{
   text-align: center;
   margin-top: 20px;
   justify-content: center;
   border-radius: 10px;
   border: 2px dotted var(--blue);
   
   display: flex;
   
   flex-direction: column;
}


.time>.counter{
   font-size: 5rem;
   font-family: var(--frederica);
   color: var(--yellow);
   height: 80%;
   align-items: center;
   text-align: center;

}

.btn{
   
   align-items: flex-end;
   height: 5%;
   margin: 25px;
   
}

.btn>span{
   flex-direction: column;
   margin: 25px;
   padding:2px;
   color:var(--pink);
   background-color:#ffb4b4 ;
   font-size: 1.5rem;
   border-radius: 10px;
   
   font-family: var(--girls);
   border: 2px dotted var(--blue);
}

@media screen and (max-width:800px) {

   .navigation{
      font-size:1.2rem;
   }
   
}