@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Satisfy&display=swap');

:root{
   --pink: #EB6383;
   --ligth-pink:#FA9191;
   --yellow: #FFE9C5;
   --blue:#B4F2E1;
   --girls:'Crafty Girls', cursive;
   --frederica:'Fredericka the Great', cursive;
   --pomodoro:#FA9190;
   --shortBreak:#A084CF;
   --longBreak: #FF85B3;
}

section.to-do{
   
   font-family:var(--girls);
   max-width: 60%;
   margin:0 auto;
   margin-top: 2rem
}


ul li{
   cursor: pointer;
   position:relative;
   padding: 5px 3px 12px 20px;
   font-size: 0.8rem;
   transition:0.2s;
   border: 1px dashed var(--blue);
   border-radius: 5px;
   list-style-type: none;

   
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

ul li.checked{
   background-color: var(--yellow);
   color:var(--pink);
   text-decoration: line-through;
   
   
}

li{
   margin: 
}
ul li.checked:before{
   content:'';
   position:absolute;
   border-color: var(--pink);
   border-style: solid;
   border-width: 0 2px 2px 0;
   top: 9px;
   left: 3px;
   transform: rotate(45deg);
   height: 15px;
   width:7px;
   font-family: var(girls);
   font-weight: bold;
   margin-left: 5px;
   
   
}
.close{
   position: absolute;
   right: -3px;
   top:-3px;
   color: var(--pink);
   padding: 12px 16px;
   
   
}


.close:hover{
   
   color:var(--yellow)
}

.input{
   display:flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 20px;
}
.btn-add{ 
   padding:1px;
   color:var(--pink);
   background-color:#ffb4b4 ;
   font-size: 1rem;
   border-radius: 5px;
   
   font-family: var(--girls);
   border: 2px dotted var(--blue);
}

